In [1]:
import pandas as pd

# Read CSV file from GitHub (using raw content URL)
df = pd.read_csv('https://raw.githubusercontent.com/yesdhruv/gapminder.csv/master/gapminder_data_graphs.csv')

# Display the first few rows of the dataframe
print(df.head())

       country continent  year  life_exp  hdi_index  co2_consump    gdp  \
0  Afghanistan      Asia  1998      53.3      0.344       0.0522    NaN
1  Afghanistan      Asia  1999      54.7      0.348       0.0402    NaN
2  Afghanistan      Asia  2000      54.7      0.350       0.0370    NaN
3  Afghanistan      Asia  2001      54.8      0.353       0.0376    NaN
4  Afghanistan      Asia  2002      55.5      0.384       0.0471  333.0

   services
0      24.4
1      24.6
2      24.7
3      24.7
4      25.6

In [3]:
# Pandas for handling hetrogeneous data instead numpy ony handle one type of data

In [4]:
df.head()

,country,continent,year,life_exp,hdi_index,co2_consump,gdp,services
0,Afghanistan,Asia,1998,53.3,0.344,0.0522,NaN,24.4
1,Afghanistan,Asia,1999,54.7,0.348,0.0402,NaN,24.6
2,Afghanistan,Asia,2000,54.7,0.350,0.0370,NaN,24.7
3,Afghanistan,Asia,2001,54.8,0.353,0.0376,NaN,24.7
4,Afghanistan,Asia,2002,55.5,0.384,0.0471,333.0,25.6

In [5]:
df.shape

(3675, 8)

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3675 entries, 0 to 3674
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      3675 non-null   object
 1   continent    3675 non-null   object
 2   year         3675 non-null   int64
 3   life_exp     3675 non-null   float64
 4   hdi_index    3563 non-null   float64
 5   co2_consump  3671 non-null   float64
 6   gdp          3633 non-null   float64
 7   services     3675 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 229.8+ KB

In [9]:
df.describe()

,year,life_exp,hdi_index,co2_consump,gdp,services
count,3675.000000,3675.000000,3563.000000,3671.000000,3633.000000,3675.000000
mean,2008.000000,69.849306,0.674864,4.712731,11966.053675,51.248705
std,6.056125,8.886563,0.164834,6.567435,17105.787953,18.312501
min,1998.000000,32.500000,0.255000,0.015900,238.000000,5.590000
25%,2003.000000,63.900000,0.537500,0.560500,1470.000000,37.600000
50%,2008.000000,71.700000,0.699000,2.250000,4280.000000,52.900000
75%,2013.000000,76.400000,0.805000,6.615000,13600.000000,65.700000
max,2018.000000,84.800000,0.956000,67.100000,105000.000000,88.500000

In [10]:
df.columns

Index(['country', 'continent', 'year', 'life_exp', 'hdi_index', 'co2_consump',
       'gdp', 'services'],
      dtype='object')

In [12]:
list(df.keys())

['country',
 'continent',
 'year',
 'life_exp',
 'hdi_index',
 'co2_consump',
 'gdp',
 'services']

In [14]:
df["country"].head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [17]:
df_country_continient=df[["country", "continent"]].sample(10)

In [18]:
df_country_continient

                       country continent
2032                  Malaysia      Asia
1068         Equatorial Guinea    Africa
1606                   Ireland    Europe
2699                     Qatar      Asia
647   Central African Republic    Africa
3052                     Spain    Europe
186                 Azerbaijan      Asia
2960                  Slovenia    Europe
2787                     Samoa   Oceania
1105                  Eswatini    Africa